body {
  background-image: './Images/logo.png';
}

.slide-right {
  overflow: hidden;
  animation: 3s slide-right;
}

a:hover {
  color: aqua;
}

.nav-item:hover {
  background-color: aqua;
}

.nav-item.active {
  background-color: aqua;
}

/* @media only screen and (min-width: 992px) {
  body {
    overflow: hidden;

  } */

/* .navbar {
    padding: 0;
  }

  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }

  .navbar .navbar-brand {
    padding: 0 0.8em;
  }

  .nav-item:hover {
    background-color: aqua;
  } */
/* } */


@keyframes slide-right {
  from {
    margin-left: -100px;
  }

  to {
    margin-right: 100px;
  }
}
/* Remove underline on nav links */
.navbar .nav-item .nav-link {
    text-decoration: none !important;
}

/* Remove blue hover & focus highlight */
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item .nav-link:active {
    text-decoration: none !important;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

/* For your pill buttons (Home, Features, About Us) */
.navbar .nav-item .rounded-pill {
    text-decoration: none !important;
}

/* Prevent Bootstrap from adding active underline */
.navbar .nav-item .active {
    text-decoration: none !important;
}
/* Remove default Bootstrap hover/focus background */
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item .nav-link:active {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}
